<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post added</title>
    <style>
        h3{
            color: green;
        }
    </style>
</head>
<body>
    <h3>New Post Added Successfully</h3>
</body>
</html>